body {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

.ticTacToe {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

.square {
    width: 150px;
    height: 150px;
    border: 1px solid white;
}

img {
    width: 100%;
}

